<ares-button title="提示文字"
             type="icon"
             icon="search"
             icon-style="color: greenyellow;"
             onclick="click()">
</ares-button>

<ares-button text="普通按钮"
             type="text"
             onclick="click()">
</ares-button>

<ares-button text="主要按钮"
             type="text"
             level="primary"
             onclick="click()">
</ares-button>

<ares-button text="警告按钮"
             type="text"
             level="warn"
             onclick="click()">
</ares-button>
