<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ares Tree Test</title>
  <link rel="stylesheet" href="test.css">
</head>
<body ng-app="ares.tree" ng-controller="TreeCtrl">

  <script type="text/ng-template" id="aresTree.html">
    <ul class="aresTree">
      <li ng-repeat="node in nodes | filter:{visible:true}">
        <span ng-click="onSwitchClick(node);" ng-class="{open: node.children&&node.open, close: node.children&&!node.open, none: !node.children}"></span>
        <a ng-click="onNodeClick(node)">
          <span ng-class="{'folder-open': node.children&&node.open, 'folder-close': node.children&&!node.open, file: !node.children}"></span>
          <span ng-bind="node.name"></span>
        </a>
        <div ng-include="'aresTree.html'" onload="nodes=node.children"></div>
      </li>
    </ul>
  </script>

  <div ng-include="'aresTree.html'"></div>
  
  <script src="angular.min.js"></script>
  <script>
    angular.module('ares.tree', []).controller('TreeCtrl', ['$scope', function($scope){
      var simpleNodes = [
        { id:1, pId:0, name:"父节点1 - 展开", open:true},
        { id:11, pId:1, name:"父节点11 - 折叠"},
        { id:111, pId:11, name:"叶子节点111"},
        { id:112, pId:11, name:"叶子节点112"},
        { id:113, pId:11, name:"叶子节点113"},
        { id:114, pId:11, name:"叶子节点114"},
        { id:12, pId:1, name:"父节点12 - 折叠"},
        { id:121, pId:12, name:"叶子节点121"},
        { id:122, pId:12, name:"叶子节点122"},
        { id:123, pId:12, name:"叶子节点123"},
        { id:124, pId:12, name:"叶子节点124"},
        { id:13, pId:1, name:"父节点13 - 没有子节点", hasChildren:true},
        { id:2, pId:0, name:"父节点2 - 折叠"},
        { id:21, pId:2, name:"父节点21 - 展开", open:true},
        { id:211, pId:21, name:"叶子节点211"},
        { id:212, pId:21, name:"叶子节点212"},
        { id:213, pId:21, name:"叶子节点213"},
        { id:214, pId:21, name:"叶子节点214"},
        { id:22, pId:2, name:"父节点22 - 折叠"},
        { id:221, pId:22, name:"叶子节点221"},
        { id:222, pId:22, name:"叶子节点222"},
        { id:223, pId:22, name:"叶子节点223"},
        { id:224, pId:22, name:"叶子节点224"},
        { id:23, pId:2, name:"父节点23 - 折叠"},
        { id:231, pId:23, name:"叶子节点231"},
        { id:232, pId:23, name:"叶子节点232"},
        { id:233, pId:23, name:"叶子节点233"},
        { id:234, pId:23, name:"叶子节点234"},
        { id:3, pId:0, name:"父节点3 - 没有子节点", hasChildren:true},
        { id:4, pId:0, name:"infinite node", hasChildren:true}
      ];

      var map = [], nodes = $scope.nodes = [];
      angular.forEach(simpleNodes, function(node) {
        map[node.id] = node;
      });
      angular.forEach(simpleNodes, function(node) {
        var parentNode = map[node.pId];
        if(parentNode) {
          parentNode.children = parentNode.children || [];
          parentNode.children.push(node);
          node.parent = parentNode;
        } else {
          node.visible = true;
          nodes.push(node);
        }
      });

      var modifyChildrenVisible = function(node) {
        angular.forEach(node.children, function(child) {
          child.visible = node.visible && node.open;
          modifyChildrenVisible(child);
        });
      };
      angular.forEach(nodes, function(node) {
        if(node.open) {
          modifyChildrenVisible(node);
        }
      });

      $scope.onSwitchClick = function(node) {
        node.open ? $scope.onCollapse(node) : $scope.onExpand(node);
        node.open = !node.open;
        modifyChildrenVisible(node);
      };

      $scope.onExpand = function(node) {
        if(node.name.indexOf('infinite node') > -1 && !node.children) {
          var children = [
            { id:node.id*1+100, pId:node.id, name:"infinite node", hasChildren:true},
            { id:node.id*2+100, pId:node.id, name:"infinite node", hasChildren:true},
            { id:node.id*3+100, pId:node.id, name:"infinite node", hasChildren:true}
          ];
          node.children = [];
          angular.forEach(children, function(child) {
            child.parent = node;
            node.children.push(child);
          });
        }
        console.log(nodes);
      };

      $scope.onCollapse = function(node) {
        console.log('collapse');
      };

      $scope.onNodeClick = function(node) {
        console.log('on click node');
      };
    }]);
  </script>
</body>
</html>